

<table class="table table-striped">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor = "let dataItem of DepartmentList">
            <td>{{ dataItem.departmentID }}</td>
            <td>{{ dataItem.departmentName }}</td>
            <td>
                <button type="button" class="btn btn-light mr-1">
                    Edit
                </button>

                <button type="button" class="btn btn-light mr-1">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>